.App {
  text-align: center;
}

.App-logo {
  width: 90%;
  pointer-events: none;
  padding: 10px 5%;
  background-color: white;
}

/* @media (prefers-reduced-motion: no-preference) { 
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  
background-color: #55544F;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  height: 90vh;
}

.App-aside{
/* width: 35%; */
/* height: 83vh; */
}
.App-aside-data{
  color: #FFFFFF;
  display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 75vh; */
}
.App-aside-meteo{
  /* min-height: 280px; */
}

.App-infos{
  background-color: #31A6CC;
  color: #FFFFFF;
  min-height: 90Vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer-scrolling{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
    justify-content: center;
    align-items: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
