.App-clock{
    margin: 1vw 2vw 0;
}

.App-clock::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #FFFFFF;
    display: block;
    margin: 30px auto 10px;
}

.App-clock h3{
    font-size: 40px;
    line-height: 26px;
    margin: 20px 0
}
.App-clock-date{
    font-size: 22px; 
    line-height: 26px;
}